<section>
  <header class="header">
    <nav class="header-links">
      <a href="#" class="header-links__item">about</a>
      <a href="#" class="header-links__item">features</a>
      <a href="#" class="header-links__item">reviews</a>
      <a href="#" class="header-links__item">contact</a>
    </nav>
  </header>
  <section class="content cf">
    <div class="container cf">
      <div class="row">
        <div class="col-md-offset-1 col-md-5">
          <img src="images/img-top.jpg" class="bg-photo">
            <div class="border"></div>
          <img src="images/img-mobile.png" alt="mobile" class="mobile-photo">
        </div>
        <div class="col-md-5">
          <img src="images/planty-logo.svg" alt="logo" class="logo">
          <h2 class="content-text-title">Because we care for plants</h2>
          <p class="about-2">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi.</p>
          <button class="button button-content">Download the app</button>
        </div>
      </div>
    </div>
  </section>
  <section class="banner cf">
    <div class="banner-container">
      <img src="images/bg.jpg" alt="backgroung banner" class="bg-banner">
      <h4>Every flower is a soul<br>blossoming in nature</h4>
    </div>
  </section>
  <section class="experts">
    <div class="container">
    <div class="row">
      <h3 class="title">experts on planty</h3>
        <div class="profile col-md-offset-2 col-md-4">
          <div class="box">
            <h4 class="name">Lidia Flower</h4>
            <p class="about-1">Florist at Flowerpower</p>
            <p class="about-2">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</p>
            <img src="images/lidia.png" alt="photo of Lidia" class="photos">
          </div>
        </div>
          <div class="profile col-md-4">
            <div class="box">
              <h4 class="name">Albert Hill</h4>
              <p class="about-1">Florist at Flo</p>
              <p class="about-2">In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
              <img src="images/albert.png" alt="photo of Albert" class="photos">
            </div>
          </div>
        </div>
    </div>
  </section>
  <section class="contact">
    <div class="container">
      <div class="row">
        <h3 class="title">contact us</h3>
        <div class="col-md-offset-2 col-md-4">
          <div class="contact-box">
            <label for="name">name</label>
            <input type="text" id="name">
            <label for="emailData">e-mail</label>
            <input type="email" id="emailData">
            <label for="comment">messages</label>
            <textarea rows="4" cols="30"></textarea>
            <button class="button button-contact">Send</button>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-box-2">
            <div class="contact-border">
              <div class="contact-photo">
              <img src="images/img-bottom.jpg" class="contact-photo-2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="footer-box">
        <div class="col-md-offset-2 col-md-8">
          <p>Created with love by The Awwwesomes.<br>All rights reserved, 2016.</p>
          <img src="images/facebook.svg" alt="Facebook icon">
          <img src="images/twitter.svg" alt="Twitter icon">
          <img src="images/instagram.svg" alt="Instagram icon">
        </div>
      </div>
    </div>
  </div>
</footer>
